@import url(https://fonts.googleapis.com/css?family=Prosto+One);

html {
	background-color: #004de6;
/*	background-color: #d9ffb3; */
/*	background-color: whitesmoke; */
}
header {
/*	background-color: #d9ffb3; */
	text-align: center;
	padding: 50px;
}

.main {
/*	background-color: #d9ffb3; */
}

.converter {
/*	background-color: #d9ffb3; */
	background-color: #004de6;
	width: 950px;
	text-align: center;
	margin: auto;
}



fieldset {
	/* font-family: "Trebuchet MS", Helvetica, sans-serif; */
	font-family: 'Prosto One', cursive;
	background-color: silver;
	border-style: groove;
	border-color: darkred;
	border-width: 4px;
	border-radius: 10px;
	width: 650px;
	margin: auto;
	font-size: 20px;
	text-transform: uppercase;
}

legend {
	font-size: 24px;
	text-align: left;
}

.execute{
	font-size: 18px;
	border-radius: 5px;
	border-style: groove;
	border-color: darkred;
	border-width: 1px;
	
}

input[type="reset"] {
	font-size: 20px;
	border-radius: 5px;
	border-style: groove;
	border-color: darkred;
	border-width: 1px;
}


input[type="text"] {
	font-size: 24px;
	width: 150px;
	border-radius: 3px;
}

#final {
	visibility: hidden;
}

#final_pig {
	visibility: hidden;
}

#final_prime {
	visibility: hidden;
}

